<h1>Chief User Information</h1>

<p>
  <strong>Username:</strong>
  <strong><%= @user.chief_username %></strong>
</p>

<p>
  <strong>Email:</strong>
  <strong><%= @user.chief_email %></strong>
</p>

<p>
  <strong>Password:</strong>
  <strong><%= @user.chief_password %></strong>
</p>

<h2><%= link_to 'Current User Accounts', user_accounts_path(@user) %></h2>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Destroy', user_path(@user),
              mestrongod: :delete,
              data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Return to All Chief User', users_path %>
