<h1>Chief User Information</h1>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'User Accounts', user_accounts_path(@user) %>

<h3>
  <strong>Username:</strong>
  <strong><%= @user.chief_username %></strong>
</h3>

<h3>
  <strong>Email:</strong>
  <strong><%= @user.chief_email %></strong>
</h3>

<h3>
  <strong>Password:</strong>
  <strong><%= @user.chief_password %></strong>
</h3>


<%= link_to 'To All Chief User', users_path %> |
<%= link_to 'Destroy', user_path(@user),
              method: :delete,
              data: { confirm: 'Are you sure?' } %> |
