<h1>Chief User Information</h1>
<%= link_to 'Edit', edit_user_path(@user) %>

<p>
  <strong>Username:</strong>
  <%= @user.chief_username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.chief_email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.chief_password %>
</p>



<h2>Accounts</h2>
<% @user.accounts.each do |account| %>
  <p>
    <strong>Websites:</strong>
    <%= account.website %>
  </p>

  <p>
    <strong>Associated email:</strong>
    <%= account.assoc_email %>
  </p>

  <p>
    <strong>Associated password:</strong>
    <%= account.assoc_password %>
  </p>
<% end %>

<h2>Add an account:</h2>
<%= form_for([@user, @user.accounts.build]) do |f| %>
  <p>
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </p>
  <p>
    <%= f.label :assoc_email %><br>
    <%= f.text_area :assoc_email %>
  </p>
  <p>
    <%= f.label :assoc_password %><br>
    <%= f.text_area :assoc_password %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>


<%= link_to 'Back', users_path %>
<%= link_to 'Destroy', user_path,
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
