<!DOCTYPE html>
<html>
  <head>
    <title>PasswordLog</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

  <h4 class="notice"><%= notice %></h4>
<h4 class="alert"><%= alert %></h4>
    <%= yield %>
    <%= link_to "Sign Out", session_path, method: :delete %>
  </body>
</html>
