<h1>Stored Chief Account Info</h1>

<p>
  <strong>Website:</strong>
  <%= @account.website %>
</p>

<p>
  <strong>Associated email:</strong>
  <%= @account.assoc_email %>
</p>

<p>
  <strong>Associated email:</strong>
  <%= @account.assoc_password %>
</p>

<%= link_to 'Edit', edit_user_account_path(@user, @account) %> |
<%= link_to 'Destroy Account', user_account_path(@user, @account),
              method: :delete,
              data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Return to Chief Account', user_accounts_path %>
